<%- include('../partials/head') %>
    <div class="container">
        <!-- <h1>Here's all the listings</h1> -->
            <% listings.forEach((listing) => { %>

                <div class="card mt-2" style="width: 18rem;">
                    <img src="<%= listing.imgUrl %>" class="card-img-top" alt="listing for <%= listing.streetAddress %>">
                    <div class="card-body">
                      <h5 class="card-title">$<%= listing.price %></h5>
                      <p class="card-text"><%= listing.streetAddress %></p>
                      <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Details</a>
                    </div>
                  </div>

            <% }) %>  
    </div>
<%- include('../partials/footer') %>